defaults:
  - submitit_slurm

partition: long
cpus_per_task: 2
gres: gpu:1
tasks_per_node: 1
mem_gb: 32
timeout_min: 1440  # 24 hours
array_parallelism: 60

setup:
  - "module --quiet load miniconda/3"
  - "conda activate env"
